body{
    margin: 0px;
    text-align: center;
    background-color: #C1FFD7;
    font-family: 'Merriweather Sans', sans-serif;
}
.Name{
    margin-top: 0px;
    margin-bottom: 0px;
    position:relative;
    top:150px;
     
    
    
}
.top-container{
    background-color: #C1FFD7;
    padding: 5px;
    margin-bottom: 5px;
}

.pro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom-cloud{
    position:absolute;
    bottom: 260px;
    left: 260px;
}

.top-cloud{
    position:absolute;
    right:350px;
    top:115px;
}
.mountain{
    position:relative;
    top: 150px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
h1{
    line-height: 2;
}
.middle-container{
    margin-top: 150px;
}
a{
    color:#11999E;
    margin-left: 5px;
    margin-right: 5px;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.first{
    width: 25%;
}
.second{
    width: 25%;
}